body{
  background-color: #F4F6F8;
}

.app-body{
  height: 92%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 16px;
  padding: 1% 5%;
}

.search{
  width: 100%;
  grid-column: 1 / 3;
}

.Polaris-Page{
  margin: 0px;
  padding: 10px;
}

.movie-list{
  background-color: white;
  overflow-y: scroll;
}

.Polaris-Card{
  margin: 0px;
  padding: 0px;
}

.App {
  height: 100vh;
}
